body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.fullscreen {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:0;
    box-sizing:border-box;
    width:100%;
    height:100%;
    object-fit:contain;
}

.claro input[readonly=""],
.claro input[readonly=""]:focus {
    color: gray;
}

.cm-s-default .cm-keyword {
    font-weight: bold;
}

.gridPane {
    height: 50px;
    width: 100%;
}

.dgrid {
    height: 100%;
    width: 100%;
}

.field_header_rownum {
    display: none;
}

.dgrid-scroller {
    overflow-x: scroll;    
}

.dgrid-cell {
    width: 75px;
}

.dgrid-row-odd {
    background: #F2F5F9;
}

#body-section {
    width: 100%;
    height: 95%;
}

#borderContainer { 
    width:100%; 
    height:100% 
}

#footer {
    clear: both;
    position: relative;
}

#footer-logo {
    float: left;
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: -.02em;
    color: #bdbcbc;
    padding: 5px;
    font-family: Helvetica,Arial; /*text-shadow: -.5px .5px .5px #000033;*/
}

#footer-controls {
    float: right;
    padding-right: 15px;
}

.max {
  width: 100%;
  height: 100%;
}

.right {
  float: right;
}

.tabcontent {
  width: 100%;
  height: 48%;
}

.messages {
  width: 100%;
  height: 2%;
}

.dijitTabContainerTopChildWrapper {
  height: 100%;
}

#leftAccordion {
  width: 200px;
}

.error {
    color: #d46464;
}

.center {
    margin: 0 auto;
    display: table;
}

.formGroup {
    padding: 5px 3px;
}

.formGroup label {
    font-weight: bold;
    display: block;
}

.compact ul {
    margin: 0px;
    padding: 3px 20px;
}

pre, code {
    background-color: #ffffff;
    border: 0px;
}